<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- OnHand: własna ikona i nazwa w szufladzie (osobne zadanie w "ostatnich aplikacjach"),
             ale to ta sama instalacja co LaunchOnMe. -->
        <activity
            android:name=".OnHandActivity"
            android:exported="true"
            android:label="@string/onhand_name"
            android:icon="@mipmap/ic_onhand"
            android:roundIcon="@mipmap/ic_onhand"
            android:taskAffinity="pl.rafal.onhand"
            android:theme="@style/Theme.OnHand"
            android:windowSoftInputMode="adjustResize"
            android:enableOnBackInvokedCallback="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Cel "Udostępnij → OnHand": tekst, linki, zdjęcia i pliki z innych aplikacji. Małe okno nad nadawcą,
             bez własnego wpisu w "ostatnich aplikacjach". -->
        <activity
            android:name=".OnHandShareActivity"
            android:exported="true"
            android:label="@string/onhand_name"
            android:icon="@mipmap/ic_onhand"
            android:roundIcon="@mipmap/ic_onhand"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.OnHand.Share"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <!-- Udostępnianie notatek (.txt / .md) i załączników oraz ich otwieranie: tymczasowy link content:// z prawem odczytu. -->
        <provider
            android:name=".OnHandFileProvider"
            android:authorities="${applicationId}.onhand"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/onhand_paths" />
        </provider>
    </application>
</manifest>
